<!DOCTYPE html>
<html>
<head>
  <title>All Books</title>
  <link href="\style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main">
	<div class="page-out">
	<div class="page">
	<div class="header">
	<div class="header-top">
	<h1>Online Book Libray</h1>
	<ul>
	  <li><a href="/home"><span>Home</span></a></li>
	  <li>
		<form action="/home" method="post">
			<input type="text" name="search" >
			<input type="submit" name= "submit" value="Search">
		</form>
	  </li>
	  <%if(id1>0)
			{
			%>	
				<li><a href="/user/profile/<%= id1 %>"><span>profile</span></a></li>
				<li><a href="/logout"><span>Signout</span></a></li>
			<%
			}else
			{
			%>	<li><a href="/login"><span>Signin</span></a></li>
				<li> <a href="/user/reg"><span>Signup</span></a></li>
			<%
			}
		%>
	</ul>
	</div>
	</div>
	
	
	<div class="sections">
		<h2><%= book[0].genre %><br><br></h2>
		
			<% for(var i=0; i< book.length; i++){ %>
				<div class="section2">
				
					<h3><%= book[i].name %></h3>
					<p>&nbsp;</p>
					<p>
						<img src="/image/<%= book[i].image %>" alt="HTML5 Icon" width="170" height="200"><br>
					</p>
					<p>&nbsp;</p>
					<p><a href="/book/bookdetails/<%= book[i].id %>" class="more">Read Details</a></p>
				</div>
			<% } %>
			
	</div>
	
	
	
	<div class="footer">
	<div class="footer-left">
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p><strong>Contact info</strong></p>
	<p>&nbsp;</p>
	<p>If you Like Our Website Consider <a href="#" class="footer-left">DONATE</a></p>
	</div>
	<div class="footer-right">
	<ul>
	  <li><a href="/home">Home</a>/</li>
	  <li><a href="#">Go to Top</a>/</li>
	  <li><a href="#">About</a></li>
	</ul>
	</div>
	</div>
	</div>
	</div>
	</div>


</body>
</html>